
<div class="card individual">
  <h2>{{data.properties.animalname}}</h2>
  <img src={{data.image}} alt="">
  <span><strong>Especie: </strong> {{data.properties.speciesname}}</span>
  <span><strong>Age: </strong>{{data.properties.animalage}}</span>
  <span><strong>Color: </strong>{{data.properties.basecolour}}</span>
  <span><strong>breedname: </strong>{{data.properties.breedname}}</span>
  <span><strong>owner: </strong>{{data.properties.owner}}</span>
  <a href="/animals/adopt/{{data.properties.id}}"><button>Adopt</button></a>
</div>